.second-container {
    background-color: #fff;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.second-content {
    flex-direction: column;
    padding: 56px 24px 56px 24px;
    max-width: 1260px;
}

.description {
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

.description div {
    margin-top: 24px;
    font-size: 16px;
}

.second-content h2 {
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
}

.img-second-content {
    width: 100%;
}

@media screen and (min-width: 786px) {
    .second-container {
        background-color: #fff;
        width: 100%;
        display: flex;
        position: relative;
    }
    .second-content {
        display: flex;
        flex-direction: row;
        padding: 80px 40px;
        max-width: 1260px;
    }
    .description {
        width: 50%;
        font-size: 20px;
        margin: 24px 0px 0px 0px;
        font-family: 'Rubik', sans-serif;
    }
    .description div {
        margin-top: 24px;
        font-size: 16px;
        line-height: 1.625;
    }
    .second-content h2 {
        font-size: 48px;
        font-weight: 550;
        font-family: 'Rubik', sans-serif;
    }
    .img-second-content {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .second-container {
        background-color: #fff;
        width: 100%;
        display: flex;
        position: relative;
    }
    .second-content {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 120px 40px;
    }
    .description {
        padding-left: 5%;
        width: 40%;
        font-size: 20px;
        margin-top: 0px;
        font-family: 'Rubik', sans-serif;
    }
    .description div {
        margin-top: 24px;
        font-size: 20px;
        line-height: 1.625;
    }
    .second-content h2 {
        font-size: 48px;
        font-weight: 520;
        font-family: 'Rubik', sans-serif;
    }
    .img-second-content {
        width: 55%;
    }
}