.third-container {
    display: flex;
    width: 100%;
    background-color: #F6F6F6;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.third-content {
    justify-content: center;
    align-items: center;
    padding: 56px 24px;
    flex-direction: row-reverse;
}

.third-content img {
    width: 100%;
}

.third-description {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 24px;
}

.third-description h2 {
    font-weight: 700;
    line-height: 120%;
    font-size: 26px;
    font-family: 'Rubik', sans-serif;
}

.third-description div {
    font-size: 16px;
    margin: 24px 0px 0px 0px;
    line-height: 1.625;
    font-family: 'Rubik', sans-serif;
}

@media screen and (min-width: 786px) {
    .third-container {
        display: flex;
        width: 100%;
        background-color: #F6F6F6;
    }
    .third-content {
        display: flex;
        padding: 80px 40px;
        flex-direction: row-reverse;
    }
    .third-content img {
        width: 50%;
    }
    .third-description {
        text-align: start;
        width: 50%;
        margin-top: 24px;
    }
    .third-description h2 {
        font-weight: 550;
        line-height: 120%;
        font-size: 48px;
        font-family: 'Rubik', sans-serif;
    }
    .third-description div {
        font-size: 16px;
        margin: 24px 0px 0px 0px;
        line-height: 1.625;
        font-family: 'Rubik', sans-serif;
    }
}

@media screen and (min-width: 1024px) {
    .third-container {
        display: flex;
        width: 100%;
        background-color: #F6F6F6;
    }
    .third-content {
        display: flex;
        align-items: center;
        padding: 120px 40px;
        flex-direction: row-reverse;
    }
    .third-content img {
        width: 55%;
    }
    .third-description {
        padding-right: 5%;
        text-align: start;
        width: 40%;
        margin-top: 0px;
    }
    .third-description h2 {
        font-weight: 550;
        line-height: 120%;
        font-size: 48px;
        font-family: 'Rubik', sans-serif;
    }
    .third-description div {
        font-size: 20px;
        margin: 24px 0px 0px 0px;
        line-height: 1.625;
        font-family: 'Rubik', sans-serif;
    }
}